.tutorial ul{
 display: flex;
 justify-content: center;
 list-style-type: none;

}

.tutorial ul li{
    margin: 10px;
    font-size: 20px;
}

.link{
    text-decoration: none;
}

/* .active{
    font-weight: bold;
    color: red;
} */

.custom-active {
    font-weight: bold;
    color: green;
}